<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!-- my css -->
    <link rel="stylesheet" href="main.css">

    <!--font-family: 'Roboto', sans-serif; -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- font-family: 'Marck Script', cursive; -->
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
    <!-- font-family: 'Poppins', sans-serif; -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <title>Kyle Johnstone</title>
  </head>
  <body>
    
    

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark pl-5 pr-5">
        <a class="navbar-brand" href="#home-section">Kemily Strongstone</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <!-- linking to different sections on page -->
            <li class="nav-item">
              <a class="nav-link" href="#about-section">About Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#experience-section">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#skills-section">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#projects-section">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact-section">Contact</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-full d-flex h-100 flex-column" id="home-section">
        <!-- make background image fill screen -->
        <div class="row flex-fill m-0 d-flex overflow-auto bg-dark text-light bgimg"> 
            <div class="container align-self-center text-center">
                <span class="top-heading font-weight-bold">Hello World</span>
            </div>
        </div>
      </div>

      <!-- About Me -->
      <div id="about-section" class="jumbotron jumbotron-fluid m-0 bg-light">
        <div class="container">
          <h1 class="display-7">About Me</h1>
          <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Venenatis urna cursus eget nunc scelerisque viverra mauris. Commodo 
            viverra maecenas accumsan lacus. Amet aliquam id diam maecenas ultricies. Elementum integer enim neque 
            volutpat. Odio ut sem nulla pharetra diam sit amet. Mauris cursus mattis molestie a iaculis at erat pellentesque 
            adipiscing. Amet volutpat consequat mauris nunc congue nisi vitae suscipit. Nunc faucibus a pellentesque sit 
            amet porttitor eget. A erat nam at lectus urna. Augue lacus viverra vitae congue eu. Interdum velit laoreet id 
            donec ultrices tincidunt arcu non sodales. Duis ut diam quam nulla porttitor. Vel orci porta non pulvinar neque 
            laoreet suspendisse interdum. Ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget gravida. 
            Malesuada pellentesque elit eget gravida. Neque aliquam vestibulum morbi blandit cursus risus at. Scelerisque 
            eleifend donec pretium vulputate.
          </p>
        </div>
      </div>

      <!-- Experience -->
      <div id="experience-section" class="jumbotron jumbotron-fluid m-0 bg-l1">
        <div class="container">
          <h1 class="display-7">Experience</h1>
          <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Venenatis urna cursus eget nunc scelerisque viverra mauris. Commodo 
            viverra maecenas accumsan lacus. Amet aliquam id diam maecenas ultricies. Elementum integer enim neque 
            volutpat. Odio ut sem nulla pharetra diam sit amet. Mauris cursus mattis molestie a iaculis at erat pellentesque 
            adipiscing. Amet volutpat consequat mauris nunc congue nisi vitae suscipit. Nunc faucibus a pellentesque sit 
            amet porttitor eget. A erat nam at lectus urna. Augue lacus viverra vitae congue eu. Interdum velit laoreet id 
            donec ultrices tincidunt arcu non sodales. Duis ut diam quam nulla porttitor. Vel orci porta non pulvinar neque 
            laoreet suspendisse interdum. Ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget gravida. 
            Malesuada pellentesque elit eget gravida. Neque aliquam vestibulum morbi blandit cursus risus at. Scelerisque 
            eleifend donec pretium vulputate.
          </p>
        </div>
      </div>

      <!-- Skills -->
      <div id="skills-section" class="jumbotron jumbotron-fluid m-0 bg-l2">
        <div class="container">
          <h1 class="display-7">Skills</h1>
          <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Venenatis urna cursus eget nunc scelerisque viverra mauris. Commodo 
            viverra maecenas accumsan lacus. Amet aliquam id diam maecenas ultricies. Elementum integer enim neque 
            volutpat. Odio ut sem nulla pharetra diam sit amet. Mauris cursus mattis molestie a iaculis at erat pellentesque 
            adipiscing. Amet volutpat consequat mauris nunc congue nisi vitae suscipit. Nunc faucibus a pellentesque sit 
            amet porttitor eget. A erat nam at lectus urna. Augue lacus viverra vitae congue eu. Interdum velit laoreet id 
            donec ultrices tincidunt arcu non sodales. Duis ut diam quam nulla porttitor. Vel orci porta non pulvinar neque 
            laoreet suspendisse interdum. Ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget gravida. 
            Malesuada pellentesque elit eget gravida. Neque aliquam vestibulum morbi blandit cursus risus at. Scelerisque 
            eleifend donec pretium vulputate.
          </p>
        </div>
      </div>

      <!-- Projects -->
      <div id="projects-section" class="jumbotron jumbotron-fluid m-0 bg-l3">
        <div class="container">
          <h1 class="display-7">Projects</h1>
          <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Venenatis urna cursus eget nunc scelerisque viverra mauris. Commodo 
            viverra maecenas accumsan lacus. Amet aliquam id diam maecenas ultricies. Elementum integer enim neque 
            volutpat. Odio ut sem nulla pharetra diam sit amet. Mauris cursus mattis molestie a iaculis at erat pellentesque 
            adipiscing. Amet volutpat consequat mauris nunc congue nisi vitae suscipit. Nunc faucibus a pellentesque sit 
            amet porttitor eget. A erat nam at lectus urna. Augue lacus viverra vitae congue eu. Interdum velit laoreet id 
            donec ultrices tincidunt arcu non sodales. Duis ut diam quam nulla porttitor. Vel orci porta non pulvinar neque 
            laoreet suspendisse interdum. Ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget gravida. 
            Malesuada pellentesque elit eget gravida. Neque aliquam vestibulum morbi blandit cursus risus at. Scelerisque 
            eleifend donec pretium vulputate.
          </p>
        </div>
      </div>

      <!-- Contact -->
      <div id="contact-section" class="jumbotron jumbotron-fluid m-0 bg-l4">
        <div class="container">
          <h1 class="display-7">Contact</h1>
          <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Venenatis urna cursus eget nunc scelerisque viverra mauris. Commodo 
            viverra maecenas accumsan lacus. Amet aliquam id diam maecenas ultricies. Elementum integer enim neque 
            volutpat. Odio ut sem nulla pharetra diam sit amet. Mauris cursus mattis molestie a iaculis at erat pellentesque 
            adipiscing. Amet volutpat consequat mauris nunc congue nisi vitae suscipit. Nunc faucibus a pellentesque sit 
            amet porttitor eget. A erat nam at lectus urna. Augue lacus viverra vitae congue eu. Interdum velit laoreet id 
            donec ultrices tincidunt arcu non sodales. Duis ut diam quam nulla porttitor. Vel orci porta non pulvinar neque 
            laoreet suspendisse interdum. Ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget gravida. 
            Malesuada pellentesque elit eget gravida. Neque aliquam vestibulum morbi blandit cursus risus at. Scelerisque 
            eleifend donec pretium vulputate.
          </p>
        </div>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>